@import "tailwindcss";

@theme {
  --color-gold: #bf953f;
  --color-yellow: #ffa800;
  --color-light-gold: #b59e57;
  --color-ultra-dark-gray: #0e0d0d;
  --color-dark-gray-3: #191919;
  --color-dark-gray-2: #1c1c1c;
  --color-dark-gray: #111010;
  --color-medium-gray: #2b2b2b;
  --color-gray: #999999;
  --color-light-gray: #eaeaea;
  --color-black: #000000;
  --color-light-gray-2: #efeff1;
}

body {
  background-color: #f3f4f6;
}

#root {
  background-color: #f3f4f6;
  min-height: 100vh;
}
